html {
    margin: 1rem;
    overflow-y: scroll;


}
body {

    max-width: 60rem;
    margin: auto; 
}
header {
    padding-bottom: 1rem;

}


header img {
    width: 100%;
    height: auto;
}
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding: .25rem;
}

.nav a:link{
    text-decoration: none;
    color: #7e8d85;
}

.nav a:visited{
    color: #7e8d85;
}
.nav a:hover{
    color: #bdbdbe;
}

a:link, a:visited{
    text-decoration: none;
    color: #0083bb;
}
a:hover{
    text-decoration: none;
    color: #29bf89;
}

article h1, article h2 {
    padding: 0rem;
    margin: 0rem;
}
.post-meta-data {
    font-size: 75%;
}
h1 {
    font-size: 3.6rem;   
}
h2 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.2rem;   
}

h3 {
    font-size: 1.8rem;   
}
.page {
min-height: calc(100vh - 10rem);
}
footer {
    margin-top: 2rem;
    text-align: center;
}
.pagination {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; overflow: 
    hidden; max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

h1.tag-title {
    text-align: center;
}

h2.tag-title {
    text-align: center;
}


.podcast-page {
    text-align: center;
}
.subscribe-buttons {
    text-align: center;
}
.apple-button {
    height: 54px;
    width: 180px;
}

.podcast-page {
    object-fit: contain;
}


.podcast-page h1 {
     padding-top: 1rem;
     padding-bottom: 0rem;
     margin-bottom: 0rem;

}

.podcast-page p {
    padding-top: 0rem;
}

.cover-art {
    width: 90%;
    max-width: 30rem;

}



.subscribe-apple {
    padding-bottom: 2rem;
}
.podcast-recent {
    text-align: left;
    padding-top: 3rem;
}


.lost {
    text-align: center;
    color: black;
    padding-top: 30vh;

}

.corrections {
    font-size: 75%;
    text-align: center;
}

.event {
    padding-bottom: 2rem;
}

pre {
    border-left: none;
    overflow: auto;

}
 .player {
     padding-top: 1rem;
     padding-bottom: 1rem;
 }