<!doctype html>
{{ partial "head.html" . }}
<body>
<div class="page">
    {{ partial "header.html" . }}
    <div class="content">
        <article>
                {{ if .Params.feature_image }}
                    <img src="/img/{{ .Params.feature_image }}" class="featured-images">
                {{ end }}
                <h1>{{ .Title }}</h1>
                <div class="post-meta-data">
                        Posted by <a href="{{ .Params.author_link }}">{{ .Params.author}}</a> on {{ .Date.Format "January 2, 2006" }}
                        {{ if .Params.tags }}
                        <br>
                            Tags:
                            {{ $len := len .Params.tags }}
                            {{ range $index, $tag := .Params.tags }}
                                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                                {{- if lt $index (sub $len 1) -}}, {{ end }}
                            {{ end }} 
                        {{ end }}
                        {{ if .Params.categories }}
                                <br>
                                Category:
                            {{ $len := len .Params.categories }}
                            {{ range $index, $category := .Params.categories }}
                                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                                {{- if lt $index (sub $len 1) -}}, {{ end }}
                            {{ end }}
                        {{ end }}


                </div>


                <div class="post-body">

                    {{ if .Params.youtube }}
                        <p>
                            <div class='embed-container'><iframe src='https://www.youtube.com/embed/{{ .Params.youtube }}' frameborder='0' allowfullscreen></iframe></div>
                        </p> 
                    {{ end }}
                    {{ .Content }}
                </div>
                <hr>
                <p class="corrections">
                    <a href="{{ $.Site.Params.content_source_url }}/edit/master/{{ .File.Path }}">
                        Corrections and suggestions for this page can be made on Github.
                    </a>
                </p>
            </article>
    </div>
</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
